<tr>
  <td>Name</td>
  <td>Surname</td>
  <td>Group</td>
  <td>Semester</td>
  <td>Average score</td>
  <td>Date of birth</td>
  <td>Supervisor review</td>
  <td>Registration IP </td>
  <td>Registration time</td>
  <td>Marks</td>
</tr>{{#.}}<tr>
<td>{{name}}</td>
<td>{{surname}}</td>
<td>{{group_id}}</td>
<td>{{semester}}</td>
<td>{{average_mark}}</td>
<td>{{date_of_birth}}</td>
<td>{{supervisor_review}}</td>
<td>{{registration_ip}}</td>
<td>{{created_at}}</td>
<td>
  <ul>
    {{#marks}}
    <li>{{subject.name}} - {{mark}}</li>
    {{/marks}}
  </ul>
</td>
</tr>{{/.}}
